<IfModule mod_rewrite.c>
# That was ONLY to protect you from 500 errors
# if your server did not have mod_rewrite enabled

RewriteEngine On
# RewriteBase /
# NOT needed unless you're using mod_alias to redirect

RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ public/$1 [L]
# Direct all requests to /public folder

</IfModule>


<Files .env>
  Order allow,deny
  Deny from all
</Files>

<Files composer.json>
  Order allow,deny
  Deny from all
</Files>

#<IfModule php7_module>
#php_flag display_errors Off
#php_value upload_max_filesize 1000000000000000000000M
#php_value post_max_size 1000000000000000000000M
#php_value max_execution_time 9000000000000000000000
#php_value max_input_time 9000000000000000000000
#php_value memory_limit 9000000000000000000000M
#php_value max_file_uploads 500
#php_value default_socket_timeout 9000000000000000000000
#</IfModule>